
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    font-family: 'Dancing Script', cursive;
}



body{
    background-color: #73FAD0;    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Assets/Imagenes/Fondo\ de\ Pantalla\ 3.jpg');
    /* background-image: linear-gradient(to right bottom, yellow,rgb(217, 221, 198)); */
}

#contenido{   
    width: 85vw;
    height: 85vh;
    border-radius: 1vw;
    background-color: rgb(245, 216, 138);
    /* border: 0.1vw solid black; */
    box-shadow: 0px 1.5vw 17px -10px rgba(0, 0, 0, 0.35);    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#presentacionYLogo-Contenedor{

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    
}

#animal-presentacion{
    width: 70%;
    height: 60%;
    background-image: url('./Assets/Imagenes/Conejo.png');
    background-size: contain;

}

#Contenedor-Tarjetas{

    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjeta{
    width: 30%;
    height: 45%;
    border-radius: 1vw;
    background-color: WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5vw;
}
